---
import '../styles/footer.css';
---

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__logo">INTEGR8</div>
    <div class="footer__links">
      <a href="#">Termos</a>
      <a href="#">Privacidade</a>
      <a href="#">Instagram</a>
    </div>
    <div class="footer__copy">© 2026 INTEGR8. Engenhado para Evoluir.</div>
  </div>
</footer>
