---
import '../styles/marquee.css';
---

<div class="statement">
  <div class="marquee">
    <div class="marquee__inner">
      <div class="marquee__group">
        <span class="text-gradient">O app registra.</span>
        <span class="text-gradient">Sua rotina continua.</span>
      </div>
      <div class="marquee__group">
        <span class="text-gradient">O app registra.</span>
        <span class="text-gradient">Sua rotina continua.</span>
      </div>
      <div class="marquee__group">
        <span class="text-gradient">O app registra.</span>
        <span class="text-gradient">Sua rotina continua.</span>
      </div>
      <div class="marquee__group">
        <span class="text-gradient">O app registra.</span>
        <span class="text-gradient">Sua rotina continua.</span>
      </div>
      <div class="marquee__group">
        <span class="text-gradient">O app registra.</span>
        <span class="text-gradient">Sua rotina continua.</span>
      </div>
    </div>
  </div>
</div>
