---
import '../styles/marquee.css';
---

<div class="marquee-strip" aria-hidden="true">
  <div class="marquee-track">
    <span class="marquee-item">Treino bom é o treino que você consegue fazer.</span>
    <span class="marquee-sep">✦</span>
    <span class="marquee-item">Treino bom é o treino que você consegue fazer.</span>
    <span class="marquee-sep">✦</span>
    <span class="marquee-item">Treino bom é o treino que você consegue fazer.</span>
    <span class="marquee-sep">✦</span>
    <span class="marquee-item">Treino bom é o treino que você consegue fazer.</span>
    <span class="marquee-sep">✦</span>
    <span class="marquee-item">Treino bom é o treino que você consegue fazer.</span>
    <span class="marquee-sep">✦</span>
    <span class="marquee-item">Treino bom é o treino que você consegue fazer.</span>
    <span class="marquee-sep">✦</span>
  </div>
</div>
