---
import '../styles/marquee.css';
---

<div class="statement">
  <div class="statement__text">
    <span class="text-gradient">O app registra.</span>
    <span class="text-gradient">Sua rotina continua.</span>
  </div>
</div>
